@font-face {
  font-family: 'gothic';
  src: url("./font/GOTHIC.TTF") format('woff');
}
@font-face {
  font-family: 'gothic-bold';
  src: url("./font/GOTHICB.TTF");
}
// body {
//   display: flex;
//   flex-direction: column;
//   font-family: "gothic";
//   margin-left: 0;
//   padding: 0;
//   // margin-top: -50px;
//   height: 350vh;
// }
//
// div {
//   height: 100%;
//   // width: 100%;
// }
//
// .App {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
// }
//
// .container {}
//
// .one {
//   flex:1;
//   display: flex;
//   // background-image: url(./assets/1.jpeg);
//   text-align: center;
//   flex-direction: column;
//   justify-content: center;
//   height: 100vh;
//   color: white;
//   // color: white;
//   // background-size : cover;
//   // .text{
//   //   display: absolute;
//   //   top: 300px;
//   // }
//   p {
//     margin: 0;
//   }
// }
//
// .buynow {
//   border-color: black;
//   border-top: 5%;
//   border-bottom: 5%;
//   // padding: 0 5%;
// }
//
// .two {
//   flex:1.5;
//   // display: inline-block;
//   // display: flex;
//   // background-image: url("./assets/2.jpeg");
//   // background-size: cover;
//   background-origin: content-box;
//   // height:1px;
//   overflow: visible;
//   // background-repeat: no-repeat;
//   // @include  div-same-size-as-background-img("./assets/2.jpeg");
//   // height: 0;
//   // width: 100%;
//   // padding-top: 97.15%;
//   height:1480px;
//   img {
//     // max-width:110%;
//     width: 100%;
//     object-fit: contain;
//     z-index: -1;
//   }
//   a{
//     background: #1a434b;
//     padding: 10px 50px;
//     // position: relative;
//     // margin: 0 auto;
//   }
//   margin-bottom: 0;
// }
//
// .three {
//   flex:0.5;
//   // background: url("/assets/3.jpeg");
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 700px;
//
//   img {
//     width: 100%;
//     object-fit: contain;
//     z-index: -1;
//   }
// }
//
// .root {
//   margin: 0;
//   height: 100%;
// }
//
// .backtube-container {
//   // opacity: 0.9;
//   z-index: -1 !important;
// }
//
// div {
//   margin: 0;
// }
//
// #buy-it-now {
//   margin-top: 10px;
//   border-style:solid;
//   padding: 5px;
//   /* padding: 5px 0 5px 0; */
//   display: inline;
//   width: fit-content;
//   margin-left: auto;
//   margin-right: auto;
//   cursor: pointer;
//   border-width: thin;
// }
//
// #text-2 {
//   top: 1000px;
//   position: absolute;
//   height: 50px;
//   width: 45%;
//   padding: 0 100px 0 100px;
//   span {
//     font-size: 1.5em;
//   }
//   p{
//     margin-bottom: 30px;
//   }
//   a{
// text-transform: capitalize;
// text-align: center;
// margin:auto;
// font-size: 1.5em;
// cursor: pointer;
// color:white;
//   }
// }
//
// #text-3{
//     position: absolute;
//     top: 1800px;
//     background: white;
//     height: 300px;
//     opacity: 0.5;
//     width:100%;
//     padding-left: 150px;
//     padding-top:90px;
//     box-sizing: border-box;
//     span{
//       margin-top:50px;
//       font-size: 1.5em;
//     }
//     p{
//       width:50%;
//     }
//
// }
//
// #button-4{
//   text-transform: capitalize;
//   text-align: center;
//   margin:auto;
//   font-size: 1.5em;
//   cursor: pointer;
//   color:white;
//   position: relative;
//   top:-100px;
//   height: auto;
// }
//
// #text-4{
  // color: white;
  // text-align: center;
  // position: relative;
  // margin-left: auto;
  // width: 50%;
  // top:-100%;
  // height:50%;
  // p{
  //   font-size: 1.5em;
  // }
  // a{
  //   width: fit-content;
  //   border-style: solid;
  //   border-width: thin;
  //   border-color: white;
  //   padding: 5px 15px 5px 15px;
  //   font-size: 2em;
  // }
// }
//
// #price{
//   font-size: 3em;
//   font-family: 'gothic-bold'
// }
//
// #month{
//   font-size: 2em;
// }
//
// #credit{
//   text-align: center;
//   position: relative;
//   color: white;
//   top:170px;
// }
//
// a{
//   text-decoration: none!important;
//   color:white !important;
// }

body {
  font-family: 'gothic';
}

.App {
  height: 278vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }
}

.container {
  width: 100%;
}

.one {
  flex: 1 1 auto;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .backtube-container {
    z-index: -1!important;
  }

  #text-1 {
    font-size: 1.5em;
    color: white;
    margin: auto;
    width: 50%;

    p {
      margin: 10px;
    }

    a {
      margin-top: 4vh;
      display: inline-block;
    }
  }
}

.two {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow:hidden;
  flex: 1.5 1.5 auto;
  img {
    width: 100%;
    object-fit: contain;
  }

  #text-2 {
    position: absolute;
    width: 50%;
    margin-top: 10%;
    padding: 0 10% 0 5%;
  }

  #text-3 {
    width: 100%;
    margin-top: 70%;
    position: absolute;
    background: white;
    opacity: 0.6;
    height: 30%;
    background-clip: content-box;

    div {
      font-size: 1em;
      padding: 5%;
      width: 50%;
    }
  }

  #button-4 {
    width: 100%;
    margin-top: 82%;
    position: absolute;
    text-align: center;

    a {
      padding: 1% 5%;
    }
  }

  span {
    font-size: 1.5em;
    padding-right: 2%;
  }

  a {
    background: #1a434b;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10%;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    padding: 2% 10%;
  }
}

.gallery {
  // flex: 0.5 0.5 auto;
  // position: relative;
  margin-top: -1%;
}

.three {
  flex: 0.5 0.5 auto;
  text-align: center;
  #text-4{
    color: white;
    text-align: center;
    position: absolute;
    margin-left:50%;
    margin-top:17%;
    width: 50%;
    // top:-100%;
    height:50%;
    p{
      font-size: 1.5em;
    }
    a{
      width: fit-content;
      border-style: solid;
      border-width: thin;
      border-color: white;
      padding: 5px 15px 5px 15px;
      font-size: 2em;
    }
  }
  img {
    z-index: -1;
    object-fit: contain;
    max-width:100%;
  }
}

#credit{
  text-align: center;
  color: white;
  margin-top: -5%;
}
